providers:
  docker:
    # Need to configure label traefik.enable=true.
    exposedByDefault: false
    # All traefik-enabled containers must be on this network.
    network: web
  file:
    directory: /etc/traefik/conf.d
    watch: true

api:
  dashboard: true

# docker exec traefik traefik healthcheck
ping: {}

metrics:
  prometheus:
    addRoutersLabels: true
    addEntryPointsLabels: true
    entryPoint: https
    manualRouting: true

experimental:
  plugins:
    robotsTxt:
      moduleName: github.com/solution-libre/traefik-plugin-robots-txt
      version: v0.2.2
    traefik-real-ip:
      moduleName: github.com/zekihan/traefik-real-ip
      version: v0.1.20
log:
  level: INFO

accessLog:
  format: json
  fields:
    defaultMode: drop
    names:
      requestPath: keep
      requestMethod: keep
      requestProtocol: keep
      requestScheme: keep
      routerName: keep
      time: keep
      originStatus: keep
    headers:
      defaultMode: drop
      names:
        CF-Connecting-IP: keep

entryPoints:
  http:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
          permanent: true

  https:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt
  
  mqtt:
    address: ":1883"

certificatesResolvers:
  letsencrypt:
    acme:
      email: frank.strieter+letsencrypt@gmail.com
      storage: /etc/traefik/acme/le.json
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: '30'
