
[defaults]
nocows = true

inventory = inventory.ini

gathering = smart

# https://www.jeffgeerling.com/blog/2018/use-ansibles-yaml-callback-plugin-better-cli-experience
result_format=yaml
bin_ansible_callbacks = true

interpreter_python = /usr/bin/python3
vault_identity = fst
vault_encrypt_identity = fst

[ssh_connection]
pipelining = true
scp_if_ssh = true
scp_extra_args = "-O"
