http:
  routers:
    dashboard:
      entrypoints: https
      rule: >-
        Host(`traefik.{{ domain | mandatory }}`) &&
        (PathPrefix(`/api`) || PathPrefix(`/dashboard`))
      service: api@internal
      middlewares:
        - dashboard-auth
      tls:
        certResolver: letsencrypt

  middlewares:
    dashboard-auth:
      basicAuth:
        realm: Traefik
        users:
          {{ traefik_dashboard_users | ansible.builtin.to_nice_yaml | indent(10) }}
