networks:
  web:
    external: true

services:
  app:
    image: vaultwarden/server:1.36.0-alpine
    restart: unless-stopped
    user: "{{ vaultwarden_uid_gid | ansible.builtin.mandatory }}:{{ vaultwarden_uid_gid }}"
    networks:
      - web
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./app:/data/
    env_file:
      - ./.env.vaultwarden
    labels:
      - traefik.enable=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`{{ vaultwarden_domain | mandatory }}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=https
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.middlewares=security-headers@file,traefik-real-ip@file

  tunnel:
    image: cloudflare/cloudflared:2026.5.0  
    command: -metrics 0.0.0.0:20241 tunnel run
    environment:
      - TUNNEL_TOKEN={{ vaultwarden_terraform.outputs.tunnel_token.value.token }}
    networks:
      - web
    labels:
      - traefik.enable=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-tunnel.rule=Host(`{{ vaultwarden_tunnel_domain | mandatory }}`) && PathPrefix(`/metrics`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-tunnel.entrypoints=https
      - traefik.http.services.${COMPOSE_PROJECT_NAME}-tunnel.loadbalancer.server.port=20241
 