services:
  nsupdate:
    image: git.debilux.org/chris/nsupdate
    environment:
      - SCHEDULE="*\30 * * * *"
      - TZ=Europe/Berlin
      - NSUPDATE_INWX_USER={{ inwx_username }}
      - NSUPDATE_INWX_PASSWORD={{ inwx_password }}
      - DEBUG=true
    volumes:
      - {{ dns_update_root }}/config:/config
      - {{ dns_update_root }}/log:/log
    networks:
      - ip6net
      - default
networks:
  ip6net:
    enable_ipv6: true
  default:
