services:
  nsupdate:
    image: favonia/cloudflare-ddns:1.16.2
    user: "1000:1000"
    read_only: true
    cap_drop: [all]
    security_opt: [no-new-privileges:true]
    environment:
      - SCHEDULE="*\30 * * * *"
      - TZ=Europe/Berlin
      - CLOUDFLARE_API_TOKEN={{ cloudflare_token }}
        # Your Cloudflare API token
      - DOMAINS=strieter.dev
    networks:
      - ip6net
      - default
networks:
  ip6net:
    enable_ipv6: true
  default:
